/* ==========================
Base Styles
============================*/
body {
  margin: 0;
  font: 16px Trebuchet, sans-serif;
}

img {
  max-width: 100%;
}

.sr-only {
  position: absolute;
  left: -9999px;
  word-wrap: normal !important;
}

a {
  color: #3932de;
}

/* ==========================
Grid
============================*/
/* Small Screen */
.col-xl-0 {
  display: inline-block;
  vertical-align: middle;
  width: 0%;
}

/*
.ml-xl-0{
    margin-left: $i * ( 100% / $full-width-column );
}
*/
.col-xl-1 {
  display: inline-block;
  vertical-align: middle;
  width: 25%;
}

/*
.ml-xl-1{
    margin-left: $i * ( 100% / $full-width-column );
}
*/
.col-xl-2 {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}

/*
.ml-xl-2{
    margin-left: $i * ( 100% / $full-width-column );
}
*/
.col-xl-3 {
  display: inline-block;
  vertical-align: middle;
  width: 75%;
}

/*
.ml-xl-3{
    margin-left: $i * ( 100% / $full-width-column );
}
*/
.col-xl-4 {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

/*
.ml-xl-4{
    margin-left: $i * ( 100% / $full-width-column );
}
*/
.col-xl-5 {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

/*
.ml-xl-5{
    margin-left: 0;
}
*/
.col-xl-6 {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

/*
.ml-xl-6{
    margin-left: 0;
}
*/
.col-xl-7 {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

/*
.ml-xl-7{
    margin-left: 0;
}
*/
.col-xl-8 {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

/*
.ml-xl-8{
    margin-left: 0;
}
*/
.col-xl-9 {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

/*
.ml-xl-9{
    margin-left: 0;
}
*/
.col-xl-10 {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

/*
.ml-xl-10{
    margin-left: 0;
}
*/
.col-xl-11 {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

/*
.ml-xl-11{
    margin-left: 0;
}
*/
.col-xl-12 {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

/*
.ml-xl-12{
    margin-left: 0;
}
*/
.col-xl-13 {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

/*
.ml-xl-13{
    margin-left: 0;
}
*/
.col-xl-14 {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

/*
.ml-xl-14{
    margin-left: 0;
}
*/
.col-xl-15 {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

/*
.ml-xl-15{
    margin-left: 0;
}
*/
.col-xl-16 {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

/*
.ml-xl-16{
    margin-left: 0;
}
*/
.col-sm-0 {
  display: inline-block;
  vertical-align: middle;
  width: 0%;
}

/*
.ml-sm-0{
    margin-left: $i * ( 100% / $full-width-column );
}
*/
.col-sm-1 {
  display: inline-block;
  vertical-align: middle;
  width: 6.25%;
}

/*
.ml-sm-1{
    margin-left: $i * ( 100% / $full-width-column );
}
*/
.col-sm-2 {
  display: inline-block;
  vertical-align: middle;
  width: 12.5%;
}

/*
.ml-sm-2{
    margin-left: $i * ( 100% / $full-width-column );
}
*/
.col-sm-3 {
  display: inline-block;
  vertical-align: middle;
  width: 18.75%;
}

/*
.ml-sm-3{
    margin-left: $i * ( 100% / $full-width-column );
}
*/
.col-sm-4 {
  display: inline-block;
  vertical-align: middle;
  width: 25%;
}

/*
.ml-sm-4{
    margin-left: $i * ( 100% / $full-width-column );
}
*/
.col-sm-5 {
  display: inline-block;
  vertical-align: middle;
  width: 31.25%;
}

/*
.ml-sm-5{
    margin-left: $i * ( 100% / $full-width-column );
}
*/
.col-sm-6 {
  display: inline-block;
  vertical-align: middle;
  width: 37.5%;
}

/*
.ml-sm-6{
    margin-left: $i * ( 100% / $full-width-column );
}
*/
.col-sm-7 {
  display: inline-block;
  vertical-align: middle;
  width: 43.75%;
}

/*
.ml-sm-7{
    margin-left: $i * ( 100% / $full-width-column );
}
*/
.col-sm-8 {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}

/*
.ml-sm-8{
    margin-left: $i * ( 100% / $full-width-column );
}
*/
.col-sm-9 {
  display: inline-block;
  vertical-align: middle;
  width: 56.25%;
}

/*
.ml-sm-9{
    margin-left: $i * ( 100% / $full-width-column );
}
*/
.col-sm-10 {
  display: inline-block;
  vertical-align: middle;
  width: 62.5%;
}

/*
.ml-sm-10{
    margin-left: $i * ( 100% / $full-width-column );
}
*/
.col-sm-11 {
  display: inline-block;
  vertical-align: middle;
  width: 68.75%;
}

/*
.ml-sm-11{
    margin-left: $i * ( 100% / $full-width-column );
}
*/
.col-sm-12 {
  display: inline-block;
  vertical-align: middle;
  width: 75%;
}

/*
.ml-sm-12{
    margin-left: $i * ( 100% / $full-width-column );
}
*/
.col-sm-13 {
  display: inline-block;
  vertical-align: middle;
  width: 81.25%;
}

/*
.ml-sm-13{
    margin-left: $i * ( 100% / $full-width-column );
}
*/
.col-sm-14 {
  display: inline-block;
  vertical-align: middle;
  width: 87.5%;
}

/*
.ml-sm-14{
    margin-left: $i * ( 100% / $full-width-column );
}
*/
.col-sm-15 {
  display: inline-block;
  vertical-align: middle;
  width: 93.75%;
}

/*
.ml-sm-15{
    margin-left: $i * ( 100% / $full-width-column );
}
*/
.col-sm-16 {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

/*
.ml-sm-16{
    margin-left: $i * ( 100% / $full-width-column );
}
*/
.ml-sm-0 {
  margin-left: 0%;
}

.ml-sm-1 {
  margin-left: 6.25%;
}

.ml-sm-2 {
  margin-left: 12.5%;
}

.ml-sm-3 {
  margin-left: 18.75%;
}

.ml-sm-4 {
  margin-left: 25%;
}

.ml-sm-5 {
  margin-left: 31.25%;
}

.ml-sm-6 {
  margin-left: 37.5%;
}

.ml-sm-7 {
  margin-left: 43.75%;
}

.ml-sm-8 {
  margin-left: 50%;
}

.ml-sm-9 {
  margin-left: 56.25%;
}

.ml-sm-10 {
  margin-left: 62.5%;
}

.ml-sm-11 {
  margin-left: 68.75%;
}

.ml-sm-12 {
  margin-left: 75%;
}

.ml-sm-13 {
  margin-left: 81.25%;
}

.ml-sm-14 {
  margin-left: 87.5%;
}

.ml-sm-15 {
  margin-left: 93.75%;
}

.ml-sm-16 {
  margin-left: 100%;
}

/* Medium Screen */
@media all and (min-width: 769px) {
  .col-md-0 {
    display: inline-block;
    vertical-align: middle;
    width: 0%;
  }

  /*
  .ml-md-0{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-md-1 {
    display: inline-block;
    vertical-align: middle;
    width: 6.25%;
  }

  /*
  .ml-md-1{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-md-2 {
    display: inline-block;
    vertical-align: middle;
    width: 12.5%;
  }

  /*
  .ml-md-2{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-md-3 {
    display: inline-block;
    vertical-align: middle;
    width: 18.75%;
  }

  /*
  .ml-md-3{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-md-4 {
    display: inline-block;
    vertical-align: middle;
    width: 25%;
  }

  /*
  .ml-md-4{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-md-5 {
    display: inline-block;
    vertical-align: middle;
    width: 31.25%;
  }

  /*
  .ml-md-5{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-md-6 {
    display: inline-block;
    vertical-align: middle;
    width: 37.5%;
  }

  /*
  .ml-md-6{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-md-7 {
    display: inline-block;
    vertical-align: middle;
    width: 43.75%;
  }

  /*
  .ml-md-7{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-md-8 {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
  }

  /*
  .ml-md-8{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-md-9 {
    display: inline-block;
    vertical-align: middle;
    width: 56.25%;
  }

  /*
  .ml-md-9{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-md-10 {
    display: inline-block;
    vertical-align: middle;
    width: 62.5%;
  }

  /*
  .ml-md-10{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-md-11 {
    display: inline-block;
    vertical-align: middle;
    width: 68.75%;
  }

  /*
  .ml-md-11{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-md-12 {
    display: inline-block;
    vertical-align: middle;
    width: 75%;
  }

  /*
  .ml-md-12{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-md-13 {
    display: inline-block;
    vertical-align: middle;
    width: 81.25%;
  }

  /*
  .ml-md-13{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-md-14 {
    display: inline-block;
    vertical-align: middle;
    width: 87.5%;
  }

  /*
  .ml-md-14{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-md-15 {
    display: inline-block;
    vertical-align: middle;
    width: 93.75%;
  }

  /*
  .ml-md-15{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-md-16 {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }

  /*
  .ml-md-16{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .ml-md-0 {
    margin-left: 0%;
  }

  .ml-md-1 {
    margin-left: 6.25%;
  }

  .ml-md-2 {
    margin-left: 12.5%;
  }

  .ml-md-3 {
    margin-left: 18.75%;
  }

  .ml-md-4 {
    margin-left: 25%;
  }

  .ml-md-5 {
    margin-left: 31.25%;
  }

  .ml-md-6 {
    margin-left: 37.5%;
  }

  .ml-md-7 {
    margin-left: 43.75%;
  }

  .ml-md-8 {
    margin-left: 50%;
  }

  .ml-md-9 {
    margin-left: 56.25%;
  }

  .ml-md-10 {
    margin-left: 62.5%;
  }

  .ml-md-11 {
    margin-left: 68.75%;
  }

  .ml-md-12 {
    margin-left: 75%;
  }

  .ml-md-13 {
    margin-left: 81.25%;
  }

  .ml-md-14 {
    margin-left: 87.5%;
  }

  .ml-md-15 {
    margin-left: 93.75%;
  }

  .ml-md-16 {
    margin-left: 100%;
  }
}
/*Large Screen*/
@media all and (min-width: 961px) {
  .col-lg-0 {
    display: inline-block;
    vertical-align: middle;
    width: 0%;
  }

  /*
  .ml-lg-0{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-lg-1 {
    display: inline-block;
    vertical-align: middle;
    width: 6.25%;
  }

  /*
  .ml-lg-1{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-lg-2 {
    display: inline-block;
    vertical-align: middle;
    width: 12.5%;
  }

  /*
  .ml-lg-2{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-lg-3 {
    display: inline-block;
    vertical-align: middle;
    width: 18.75%;
  }

  /*
  .ml-lg-3{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-lg-4 {
    display: inline-block;
    vertical-align: middle;
    width: 25%;
  }

  /*
  .ml-lg-4{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-lg-5 {
    display: inline-block;
    vertical-align: middle;
    width: 31.25%;
  }

  /*
  .ml-lg-5{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-lg-6 {
    display: inline-block;
    vertical-align: middle;
    width: 37.5%;
  }

  /*
  .ml-lg-6{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-lg-7 {
    display: inline-block;
    vertical-align: middle;
    width: 43.75%;
  }

  /*
  .ml-lg-7{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-lg-8 {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
  }

  /*
  .ml-lg-8{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-lg-9 {
    display: inline-block;
    vertical-align: middle;
    width: 56.25%;
  }

  /*
  .ml-lg-9{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-lg-10 {
    display: inline-block;
    vertical-align: middle;
    width: 62.5%;
  }

  /*
  .ml-lg-10{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-lg-11 {
    display: inline-block;
    vertical-align: middle;
    width: 68.75%;
  }

  /*
  .ml-lg-11{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-lg-12 {
    display: inline-block;
    vertical-align: middle;
    width: 75%;
  }

  /*
  .ml-lg-12{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-lg-13 {
    display: inline-block;
    vertical-align: middle;
    width: 81.25%;
  }

  /*
  .ml-lg-13{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-lg-14 {
    display: inline-block;
    vertical-align: middle;
    width: 87.5%;
  }

  /*
  .ml-lg-14{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-lg-15 {
    display: inline-block;
    vertical-align: middle;
    width: 93.75%;
  }

  /*
  .ml-lg-15{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-lg-16 {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }

  /*
  .ml-lg-16{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .ml-lg-0 {
    margin-left: 0%;
  }

  .ml-lg-1 {
    margin-left: 6.25%;
  }

  .ml-lg-2 {
    margin-left: 12.5%;
  }

  .ml-lg-3 {
    margin-left: 18.75%;
  }

  .ml-lg-4 {
    margin-left: 25%;
  }

  .ml-lg-5 {
    margin-left: 31.25%;
  }

  .ml-lg-6 {
    margin-left: 37.5%;
  }

  .ml-lg-7 {
    margin-left: 43.75%;
  }

  .ml-lg-8 {
    margin-left: 50%;
  }

  .ml-lg-9 {
    margin-left: 56.25%;
  }

  .ml-lg-10 {
    margin-left: 62.5%;
  }

  .ml-lg-11 {
    margin-left: 68.75%;
  }

  .ml-lg-12 {
    margin-left: 75%;
  }

  .ml-lg-13 {
    margin-left: 81.25%;
  }

  .ml-lg-14 {
    margin-left: 87.5%;
  }

  .ml-lg-15 {
    margin-left: 93.75%;
  }

  .ml-lg-16 {
    margin-left: 100%;
  }
}
/*Large Screen*/
@media all and (min-width: 961px) {
  .ml-xl-0 {
    margin-left: 0%;
  }

  .ml-xl-1 {
    margin-left: 6.25%;
  }

  .ml-xl-2 {
    margin-left: 12.5%;
  }

  .ml-xl-3 {
    margin-left: 18.75%;
  }

  .ml-xl-4 {
    margin-left: 25%;
  }

  .ml-xl-5 {
    margin-left: 31.25%;
  }

  .ml-xl-6 {
    margin-left: 37.5%;
  }

  .ml-xl-7 {
    margin-left: 43.75%;
  }

  .ml-xl-8 {
    margin-left: 50%;
  }

  .ml-xl-9 {
    margin-left: 56.25%;
  }

  .ml-xl-10 {
    margin-left: 62.5%;
  }

  .ml-xl-11 {
    margin-left: 68.75%;
  }

  .ml-xl-12 {
    margin-left: 75%;
  }

  .ml-xl-13 {
    margin-left: 81.25%;
  }

  .ml-xl-14 {
    margin-left: 87.5%;
  }

  .ml-xl-15 {
    margin-left: 93.75%;
  }

  .ml-xl-16 {
    margin-left: 100%;
  }

  .col-xl-0 {
    display: inline-block;
    vertical-align: middle;
    width: 0%;
  }

  /*
  .ml-xl-0{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-xl-1 {
    display: inline-block;
    vertical-align: middle;
    width: 6.25%;
  }

  /*
  .ml-xl-1{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-xl-2 {
    display: inline-block;
    vertical-align: middle;
    width: 12.5%;
  }

  /*
  .ml-xl-2{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-xl-3 {
    display: inline-block;
    vertical-align: middle;
    width: 18.75%;
  }

  /*
  .ml-xl-3{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-xl-4 {
    display: inline-block;
    vertical-align: middle;
    width: 25%;
  }

  /*
  .ml-xl-4{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-xl-5 {
    display: inline-block;
    vertical-align: middle;
    width: 31.25%;
  }

  /*
  .ml-xl-5{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-xl-6 {
    display: inline-block;
    vertical-align: middle;
    width: 37.5%;
  }

  /*
  .ml-xl-6{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-xl-7 {
    display: inline-block;
    vertical-align: middle;
    width: 43.75%;
  }

  /*
  .ml-xl-7{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-xl-8 {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
  }

  /*
  .ml-xl-8{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-xl-9 {
    display: inline-block;
    vertical-align: middle;
    width: 56.25%;
  }

  /*
  .ml-xl-9{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-xl-10 {
    display: inline-block;
    vertical-align: middle;
    width: 62.5%;
  }

  /*
  .ml-xl-10{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-xl-11 {
    display: inline-block;
    vertical-align: middle;
    width: 68.75%;
  }

  /*
  .ml-xl-11{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-xl-12 {
    display: inline-block;
    vertical-align: middle;
    width: 75%;
  }

  /*
  .ml-xl-12{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-xl-13 {
    display: inline-block;
    vertical-align: middle;
    width: 81.25%;
  }

  /*
  .ml-xl-13{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-xl-14 {
    display: inline-block;
    vertical-align: middle;
    width: 87.5%;
  }

  /*
  .ml-xl-14{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-xl-15 {
    display: inline-block;
    vertical-align: middle;
    width: 93.75%;
  }

  /*
  .ml-xl-15{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
  .col-xl-16 {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }

  /*
  .ml-xl-16{
      margin-left: $i * ( 100% / $full-width-column );
  }
  */
}
.stretch-height {
  position: relative;
}
@media all and (min-width: 961px) {
  .stretch-height {
    height: 100vh;
  }
}

.stretch-height-center-area {
  position: relative;
  height: 100%;
}
.stretch-height-center-area:before {
  vertical-align: middle;
  display: inline-block;
  content: "";
  height: 100%;
}

.va-middle {
  vertical-align: middle;
}

.va-baseline {
  vertical-align: baseline;
  /*
  @media all and (min-width: $medium-screen-width){
      vertical-align: baseline;
  }

  @media all and (min-width: $large-screen-width){
      vertical-align: baseline;
  }

  @media all and (min-width: $xl-screen-width){
      vertical-align: baseline;
  }
  */
}

/* ==========================
Utilities
============================*/
.hide-s {
  display: none;
}
@media screen and (min-width: 769px) {
  .hide-s {
    display: block;
  }
}

@media screen and (min-width: 769px) {
  .hide-mlx {
    display: none;
  }
}

/* ==========================
Header
=========================== */
/* Layout
----------------------------*/
header.site-header {
  position: relative;
  z-index: 2;
  position: fixed;
  z-index: 2;
  transition: background 0.2s;
  padding: 10px 0;
  background: #262626;
}
@media screen and (min-width: 961px) {
  header.site-header:not(.opaque) {
    background: transparent;
  }
  header.site-header:not(.opaque) nav a {
    background: transparent;
  }
}
header.site-header .logo {
  text-align: center;
  width: 100%;
}
header.site-header .logo-image {
  height: 75px;
}
@media all and (min-width: 769px) {
  header.site-header .logo-image {
    height: 100px;
  }
}
header.site-header h2 {
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: none;
  margin: 8px 0;
}
@media all and (min-width: 961px) {
  header.site-header h2 {
    display: block;
  }
}
header.site-header nav .menu-toggle {
  background: transparent;
  padding: 6px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 15px;
  text-transform: uppercase;
  display: block;
  transition: all 0.3s;
  min-height: 65px;
}
header.site-header nav .menu-toggle.is-pressed {
  color: #262626;
  background: linear-gradient(to right, #fff, #cdf);
}
header.site-header nav .menu-toggle:hover, header.site-header nav .menu-toggle:active {
  background: #ccddff;
  color: #262626;
}
@media all and (min-width: 769px) {
  header.site-header nav .menu-toggle {
    font-size: 18px;
  }
}
@media all and (min-width: 961px) {
  header.site-header nav .menu-toggle {
    display: none;
  }
}
header.site-header nav ul {
  top: 200%;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  transition: top 0.3s ease-out, opacity 0.3s ease-out;
  left: 0;
  opacity: 0.1;
}
header.site-header nav ul.hidden {
  left: -9999px;
}
header.site-header nav ul.active {
  left: 0;
  top: 100%;
  opacity: 1;
}
@media all and (min-width: 961px) {
  header.site-header nav ul {
    position: static;
    flex-direction: row;
    left: auto;
    border: none;
    opacity: 1;
  }
}
header.site-header nav ul li:last-child a {
  border-radius: 0 0 4px 4px;
}
header.site-header nav ul li.delay-0 {
  transition-delay: -0.1s;
}
header.site-header nav ul li.delay-1 {
  transition-delay: 0s;
}
header.site-header nav ul li.delay-2 {
  transition-delay: 0.1s;
}
header.site-header nav ul li.delay-3 {
  transition-delay: 0.2s;
}
header.site-header nav ul li.delay-4 {
  transition-delay: 0.3s;
}
@media screen and (min-width: 961px) {
  header.site-header nav ul li {
    position: static;
    opacity: 1;
  }
}
header.site-header nav ul li a {
  color: #fff;
  padding: 0.5em;
  text-decoration: none;
  font-size: 1.3em;
  transition: all 0.3s;
  position: relative;
  display: block;
  background: #262626;
  /*
  background: #fff;
  color: #262626;*/
}
header.site-header nav ul li a:hover, header.site-header nav ul li a:focus {
  background: #fff;
  color: #262626;
}
@media screen and (min-width: 961px) {
  header.site-header nav ul li a {
    font-size: 1em;
    background: transparent;
    color: #fff;
  }
}
@media screen and (min-width: 961px) {
  header.site-header nav ul li a:hover, header.site-header nav ul li a:focus {
    background: transparent;
    color: #ccddff;
  }
  header.site-header nav ul li a:after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    background: #ccddff;
    left: 50%;
    transition: all 0.3s;
  }
  header.site-header nav ul li a:hover:after {
    left: 0;
    width: 100%;
  }
}
@media all and (min-width: 961px) {
  header.site-header nav ul li:first-child a {
    padding-left: 0;
  }
}

/*
html:not([data-scroll='0']){
  header{
      background: #262626;
  }
}
*/
/* ==========================
Content
=========================== */
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.video-background .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
}
.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#section1 {
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
}

main {
  position: relative;
  z-index: 1;
}
main .mission {
  margin: 70vh auto 0;
  text-align: center;
}
main .mission .tagline {
  font: italic 2em "Trebuchet MS";
  color: #fff;
  text-align: center;
  margin: 0.5em 0;
  padding: 0.5em;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
@media all and (min-width: 961px) {
  main .mission .tagline {
    display: inline;
  }
}
main .mission .circle {
  position: relative;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 40px auto 0;
}
main .mission .circle .go-down {
  position: absolute;
  color: rgba(255, 255, 255, 0.6);
  font-size: 32px;
  line-height: 32px;
  top: 3px;
  left: 11px;
  text-decoration: none;
}
main .content-section {
  position: relative;
  font-size: 1.2em;
  margin-bottom: 1em;
}
@media all and (min-width: 769px) {
  main .content-section {
    margin-bottom: 0;
  }
}
main .content-section img {
  min-height: 40vh;
  object-fit: cover;
}
@media all and (min-width: 769px) {
  main .content-section img {
    min-height: 80vh;
  }
}
main .content-section h2 {
  font-size: 2.5em;
  color: #262626;
  position: relative;
}
main .content-section h2:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 110%;
  height: 4px;
  width: 60px;
  background: #cdf;
}
main .content-section .entry-content {
  color: #464646;
  line-height: 1.5;
}
main .content-section .entry-content a.cta-link {
  text-decoration: none;
}
main .content-section .entry-content a.cta-link span {
  margin-left: 10px;
}
main .content-section .entry-content a.cta-link:hover span {
  display: inline-block;
  animation: 1s slide ease infinite;
}
@keyframes slide {
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}
main #section2 {
  margin-top: 100vh;
}

#headerPixel {
  position: absolute;
  top: 30vh;
  left: 0;
  width: 1px;
  height: 1px;
}

.related-content {
  box-sizing: border-box;
  background: papayawhip;
}
.related-content h2 {
  font-size: 2.5em;
}
.related-content .card {
  position: relative;
  margin: 32px auto;
  /*background: #fff;
  background: papayawhip;*/
}
.related-content .card img {
  display: block;
  height: 350px;
  width: 100%;
  object-fit: cover;
}
.related-content .card .mask {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), 40%, rgba(0, 0, 0, 0));
  transition: background 0.3s;
  /*background: rgba(0,0,0,.6) */
}
.related-content .card:hover .mask {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 100%, transparent);
}
.related-content .card h3 {
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  padding: 1rem;
  transition: all 0.3s;
  overflow: hidden;
}
.related-content .card:hover h3 {
  bottom: 50%;
  transform: translate(0, 50%);
}
.related-content .card .entry-content {
  padding: 1em;
}
.related-content .view-more-wrap {
  text-align: center;
  padding: 55px 0 35px;
}
.related-content .view-more-wrap a.view-more {
  padding: 0.75rem;
  border: 1px solid #262626;
  color: #363636;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 0.875em;
  transition: 0.3s all;
}
.related-content .view-more-wrap a.view-more:hover, .related-content .view-more-wrap a.view-more:focus {
  color: white;
  background: #363636;
}
@media all and (min-width: 961px) {
  .related-content {
    height: 100vh;
  }
}

/* ==========================
Site Footer
=========================== */
footer.site-footer {
  background: url("../img/cafe-table-chair.jpg");
  position: relative;
  color: #fff;
  box-sizing: border-box;
  padding: 10em 0;
}
footer.site-footer .mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.45);
}
footer.site-footer .information {
  position: relative;
  z-index: 1;
  text-align: center;
}
footer.site-footer .information .branding {
  margin-bottom: 2em;
}
footer.site-footer .information h2 {
  margin: 0.67em;
}
footer.site-footer .information h2,
footer.site-footer .information .description {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
footer.site-footer .information .logo {
  height: 100px;
}
footer.site-footer .information .contact p {
  margin: 0.5em 0;
}
footer.site-footer .information .social a {
  display: inline-block;
  margin: 8px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 1.5em;
  line-height: 1.5em;
  width: 1.5em;
  height: 1.5em;
}
footer.site-footer .information .social a:hover {
  background: #fff;
  color: #3932de;
}

/*# sourceMappingURL=style.css.map */
