header.site-header{
  @include position-static-on-top(2);
  position: fixed;
  z-index: 2;
  transition: background .2s;
  padding: 10px 0;
  background: #262626;

  @media screen and (min-width: $large-screen-width){
    &:not(.opaque){
      background: transparent;

      nav a{
        background: transparent;
      }
    }
  }

  .logo{
    text-align: center;
    width: 100%;
  }

  .logo-image{
    height: 75px;

    @media all and (min-width: $medium-screen-width){
      height: 100px;
    }
  }

  h2{
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: none;
    margin: 8px 0;

    @media all and (min-width: $large-screen-width){
      display: block
    }
  }

  nav{

    .menu-toggle{
      background: transparent;
      padding: 6px;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 4px;
      font-size: 15px;
      text-transform: uppercase;
      display: block;
      transition: all .3s;
      min-height: 65px;
      //white-space: nowrap;

      &.is-pressed{
        color: #262626;
        background: linear-gradient(to right, #fff, #cdf)
      }

      &:hover,
      &:active{
        background: #ccddff;
        color: #262626;
      }

      @media all and (min-width: $medium-screen-width){
        font-size: 18px;
      }
    }

    @media all and (min-width: $large-screen-width){
      .menu-toggle{
        display: none;
      }
    }
    
    ul{
      top: 200%;
      position: absolute;
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      border-radius: 4px;
      box-sizing: border-box;
      transition: top .3s ease-out, opacity .3s ease-out;
      left: 0;
      opacity: .1;

      &.hidden{
        left: -9999px;
      }

      &.active{
        left: 0;
        top: 100%;
        opacity: 1;
      }

      @media all and (min-width: $large-screen-width){
        position: static;
        flex-direction: row;
        left: auto;
        border: none;
        opacity: 1;
      }

      li{
        //position: absolute;
        //top: 100px;
        //width: 100%;
        //left: -9999px;
        //transition: all ease .3s;
        //opacity: .1;

        &:last-child a{
          border-radius: 0 0 4px 4px;
        }

        @include delay('&');

        @media screen and (min-width: $large-screen-width){
          position: static;
          opacity: 1;
        }
        
        a{
          $hover-color: #ccddff;
          color: #fff;
          padding: .5em;
          text-decoration: none;
          font-size: 1.3em;
          transition: all .3s;
          position: relative;
          display: block;
          background: #262626;

          &:hover,
          &:focus{
            background: #fff;
            color: #262626;
          }
          /*
          background: #fff;
          color: #262626;*/

          @media screen and (min-width: $large-screen-width){
            font-size: 1em;
            background: transparent;
            color: #fff;
          }

          @media screen and (min-width: $large-screen-width){
            &:hover,
            &:focus{
              background: transparent;
              color: $hover-color;
            }

            &:after{
              position: absolute;
              content: '';
              width: 0;
              height: 2px;
              left: 0;
              bottom: 0;
              background: $hover-color;
              //transform-origin: 50% 0;
              left: 50%;
              transition: all .3s;
              ;
            }
  
            &:hover:after{
              //transform-origin: 0 0;
              left: 0;
              width: 100%;
            }
          }
        }
        @media all and (min-width: $large-screen-width){
          &:first-child a{
            padding-left: 0;
          }
        }
      }
    }
  }
}
/*
html:not([data-scroll='0']){
  header{
      background: #262626;
  }
}
*/