footer.site-footer{
  background: url('../img/cafe-table-chair.jpg');
  position: relative;
  color: #fff;
  box-sizing: border-box;
  padding: 10em 0;

  .mask{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.45);
  }
  .information{
    position: relative;
    z-index: 1;
    text-align: center;

    .branding{
      margin-bottom: 2em;
    }

    h2{
      margin: .67em;
    }

    h2,
    .description{
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .logo{
      height: 100px;
    }

    .contact p{
      margin: .5em 0;
    }

    .social{
      a{
        display: inline-block;
        margin: 8px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 50%;
        font-size: 1.5em;
        line-height: 1.5em;
        width: 1.5em;
        height: 1.5em;

        &:hover{
          background: #fff;
          color: rgb(57,50,222);
        }
      }
    }
  }
}